#thank-you-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    padding: 90px 100px;
}
  
.shopMoreBTN{
    margin-top: 80px;
     padding: 5px 10px;
     border-radius: 20px;
     cursor: pointer;
}

.shopMoreBTN:hover{
    background-color: #233943;
    color: white;
}

@media only screen and (min-width: 1000px){
    #thank-you-page{
        padding: 90px 500px;
    }   
}

@media only screen and (min-width: 1900px) {

    #thank-you-page{
        padding: 90px 700px;
    }
    
}