main{
    align-items: center;
    justify-content: center;
    text-align: center;
}

#single-product{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.jacket-image{
    width: 300px;
    height: auto;
}
.jacket-title{
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 20px;

}

.jacket-description, 
.jacket-size{
    font-size: 15px;
    margin-bottom: 5px;

}

.jacket-price{
    font-size: 25px;
}

.selectBTN {
padding: 5px 10px;
border-radius: 20px;
cursor: pointer;
}

.selectBTN:hover{
    background-color: #233943;
    color: white;

}


.selectBTN{
    margin: 15px;
}

@media (min-width: 1000px) {

.jacket-image {
  min-width: 500px;
  height: auto;
}

.jacket-description, 
.jacket-size, 
.jacket-gender{
    font-size: 20px;
    margin-bottom: 5px;

}

.jacket-price,
.discounted-price{
    font-size: 30px;
}

.selectBTN {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    }
}
